.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .MaleSlider {
    background-color: #6ECBF9;
  }

  input:checked + .FemaleSlider {
    background-color: #FF53B3;
  }

  input:checked + .GroupSlider {
    background-color: #94DF69;
  }

  input:checked + .RegSlider {
    background-color: #00fa9a;
  }

  
  input:focus + .MaleSlider {
    box-shadow: 0 0 1px #6ECBF9;
  }
  
  input:focus + .FemaleSlider {
    box-shadow: 0 0 1px #FF53B3;
  }

  input:focus + .GroupSlider {
    box-shadow: 0 0 1px #94DF69;
  }
  input:focus + .RegSlider {
    box-shadow: 0 0 1px #00fa9a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


   /* Style buttons */
.continentFilterInput {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  height:70px;
  width:70px;
}





  

